<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>

    <add name="AuthConn" connectionString="Server=20.235.71.48,4018;Database=nbfc;User Id=vcxrpt;Password=Vision@18;Pooling = True;" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="file_path" value="F:\Web/EMS/" />
    <add key="documents_mailpath" value="F:/Web/EMS/" />
    <add key="schedularlog_path" value="F:/Web/EMS/erp_documents/itrends/ADM/AmazonInventoryExcelLog/" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>